<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <h2 class="text-center">ABOUT US</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices bibendum ipsum. Phasellus sodales semper enim, ut tincidunt dolor egestas sit amet. Vestibulum quis turpis a nulla cursus mollis eget eget massa. Nam lobortis quam et nisl pellentesque ultrices a sit amet leo. Duis mollis tincidunt dui, ut fermentum orci. Nam pellentesque sed leo id dignissim. Proin luctus, odio facilisis vestibulum egestas, odio magna maximus libero, vel imperdiet urna tellus ac est. Maecenas aliquet gravida orci, ac suscipit nulla semper sed. Proin sit amet hendrerit nisi. Etiam tincidunt nec purus eget feugiat. Suspendisse risus augue, scelerisque aliquet finibus eget, condimentum ut nibh. Cras tincidunt nulla lacus, sed maximus felis rhoncus et. Nam dictum faucibus gravida. Praesent commodo eros orci, vitae feugiat justo fringilla eu. Phasellus luctus facilisis est, id gravida ipsum eleifend vitae. Phasellus ut ipsum sapien.

            In gravida leo at odio euismod, nec vestibulum felis ornare. Ut eleifend nibh non ex interdum vulputate vel ac dolor. Mauris ut sapien non libero vulputate sagittis. Curabitur egestas ultrices mi ut imperdiet. Integer nec nibh fringilla, fermentum ex a, feugiat lacus. Fusce molestie lorem orci, id convallis dui porttitor at. Donec quis magna sit amet mi euismod posuere. Cras placerat, purus quis tempus efficitur, sem est imperdiet mauris, in consectetur enim mi sodales ipsum. Nam sed nisl tempor, ultrices augue a, imperdiet leo. Integer eleifend enim id arcu tempus, vitae fermentum leo hendrerit. Fusce euismod nibh sed elit tempor pulvinar. Etiam maximus elit ut venenatis luctus. Pellentesque hendrerit vestibulum nunc, a ultrices nulla porttitor at. Donec gravida vulputate ex nec luctus.
            
            Nulla eget vel</p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">
        <br>
        <br>
        <br>

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>    
              <div class= "p-3 mb-2 bg-dark text-white rounded">
                  <p class="text-center">Ivan Hankovic</p>
                  <star-rating [rating]="5" labelPosition="top" [disabled]="true"></star-rating>
                  <br>
                  <p class="text-center">"They are awesome!They are awesome!They are awesome!They are awesome!They are awesome!"</p>
                  
                  
                </div>
          </ng-template>  
            <ng-template carouselSlide>    
              <div class= "p-3 mb-2 bg-dark text-white rounded">
                  <star-rating [rating]="3" labelText="Dude1" labelPosition="top" [disabled]="true"></star-rating>
                  <p class="text-center">They are awesome!They are awesome!They are awesome!They are awesome!They are awesome!</p>
              </div>
          </ng-template>  
            <ng-template carouselSlide>    
              <div class= "p-3 mb-2 bg-dark text-white rounded">
                  <star-rating [rating]="1" labelText="Dude1" labelPosition="top" [disabled]="true"></star-rating>
                  <p class="text-center">They are awesome!They are awesome!They are awesome!They are awesome!They are awesome!</p>
              </div>
          </ng-template>  
          </owl-carousel-o>
</div>