<div class="row">
    <div class="col-md-4">
        <h1>{{service.name}}</h1>
    </div>
    <div class="col-md-7">
        <div class="float-right">
    
            <img 
            src="{{service.imagePath}}"
            alt="{{service.name}}"
            class="img-fluid"
            style="max-height: 300px;">
        </div>       
    </div>
    
</div> 
<div class="row">
    <div class="col-xs-12">
            {{service.description}}
    </div>
</div>
<div class="row">
    <div class="col-md-11">
        <h5 class="float-right">PRICE: {{service.price}}</h5>
    </div>
</div>
