<div class="row">
    <div class="col-md-12">
        <h2 class="text-center">CAREERS</h2>
        <p class="text-center text-muted">Gogogo</p>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group">
            <li class="list-group-item text-center">
                <h4>Mechanic (m/f)</h4>
                <p class="font-weight-bold">Duties:</p>
                <p> include fixing machinery, plumbing, heating and wiring, inspecting buildings 
                    to confirm safety standards and scheduling major repairs with the building's inhabitants.</p>
            </li>
            <li class="list-group-item text-center">
                <h4>Web developer (m/f)</h4>
                <p class="font-weight-bold">Duties:</p>
                <p>Know HTML, CSS, JavaScript, PHP, and other relevant web design coding languages.</p>
                    <p>Create and test applications for websites
                    Collaborate
                    Present design specs
                    Work with graphics and other designers
                    Troubleshoot website problems
                    Maintain and update websites
                    Monitor website traffic
                    Stay up-to-date on technology</p>
            </li>
            <li class="list-group-item text-center">
                <h4> Secretary (m/f)</h4>
                <p class="font-weight-bold">Duties:</p>
                <p>Ensuring meetings are effectively organised and minuted. 
                    Maintaining effective records and administration. 
                    Upholding the legal requirements of governing documents, charity law, company law etc (where relevant). 
                    Communication and correspondence</p>
            </li>
          </ul>
    </div>
</div>