<div class="row">
    <div class="col-md-3">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-4">
        <div> 
            <h2 class="text-left">HOUSE SERVICE</h2>
            <p class="text-justify text-muted">Welcome to our house service website! We are your one-stop-shop for all your home maintenance needs. Our team of experienced professionals is dedicated to providing top-quality cleaning, repair, and maintenance services to keep your home looking and functioning its best. </p>
            <p class="text-justify text-muted"> At our house service, we understand that your home is your sanctuary. That's why we offer a wide range of services to meet all of your needs, from routine cleaning and maintenance to emergency repairs. We take pride in our work and treat every job as if it were our own home, giving you the peace of mind that comes with knowing your property is in good hands.</p>
            <p class="text-justify text-muted">Our cleaning services include everything from basic tidying to deep cleaning, and we can customize our services to meet your specific needs and budget. We use only the best equipment and materials available to ensure that your home is always in top condition. Our team of skilled technicians is trained in the latest cleaning techniques, and we take care to use environmentally friendly products whenever possible. </p>
            <p class="text-justify text-muted">So, if you're looking for reliable, high-quality house service, look no further than us! Contact us today to schedule your appointment and experience the difference that our commitment to excellence can make in your home. </p>
        </div>
    </div>
    <div class="col-md-4">
        <div style="padding-top:50px;">
        <img src="https://media.istockphoto.com/photos/refrigerator-repairing-picture-id1169128877?k=20&m=1169128877&s=612x612&w=0&h=CGIp31qdGhgDLnMFPjnPhlDZWsR6qnJ7Y6H_osMz1qk=" alt="Repairman" class="img-fluid rounded">
        </div>
     
    </div>
</div>
