<div class="row">
    <div class="col-md-3">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-4">
        <div> 
            <h2 class="text-left">HOUSE SERVICE</h2>
            <p class="text-justify text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ultrices bibendum ipsum. Phasellus sodales semper enim, ut tincidunt dolor egestas sit amet. Vestibulum quis turpis a nulla cursus mollis eget eget massa. Nam lobortis quam et nisl pellentesque ultrices a sit amet leo. Duis mollis tincidunt dui, ut fermentum orci. Nam pellentesque sed leo id dignissim. Proin luctus, odio facilisis vestibulum egestas, odio magna maximus libero, vel imperdiet urna tellus ac est. Maecenas aliquet gravida orci, ac suscipit nulla semper sed. Proin sit amet hendrerit nisi. Etiam tincidunt nec purus eget feugiat. Suspendisse risus augue, scelerisque aliquet finibus eget, condimentum ut nibh. Cras tincidunt nulla lacus, sed maximus felis rhoncus et. Nam dictum faucibus gravida. Praesent commodo eros orci, vitae feugiat justo fringilla eu. Phasellus luctus facilisis est, id gravida ipsum eleifend vitae. Phasellus ut ipsum sapien.

                In gravida leo at odio euismod, nec vestibulum felis ornare. Ut eleifend nibh non ex interdum vulputate vel ac dolor. Mauris ut sapien non libero vulputate sagittis. Curabitur egestas ultrices mi ut imperdiet. Integer nec nibh fringilla, fermentum ex a, feugiat lacus. Fusce molestie lorem orci, id convallis dui porttitor at. Donec quis magna sit amet mi euismod posuere. Cras placerat, purus quis tempus efficitur, sem est imperdiet mauris, in consectetur enim mi sodales ipsum. Nam sed nisl tempor, ultrices augue a, imperdiet leo. Integer eleifend enim id arcu tempus, vitae fermentum leo hendrerit. Fusce euismod nibh sed elit tempor pulvinar. Etiam maximus elit ut venenatis luctus. Pellentesque hendrerit vestibulum nunc, a ultrices nulla porttitor at. Donec gravida vulputate ex nec luctus.
                
                Nulla eget velit et libero posuere posuere. Fusce velit justo, fringilla non massa vel, euismod aliquet est. Integer at enim ante. Duis mollis ipsum ac eros euismod aliquet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aenean pharetra libero et nisl imperdiet rutrum. Nulla fermentum ipsum eros, at laoreet magna maximus at. Praesent quis quam quis ex vulputate suscipit eget quis odio. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam venenatis turpis fringilla, accumsan enim consequat, euismod lectus. Nulla vitae velit tristique tellus semper porttitor. Quisque et vehicula lacus. Etiam eget sollicitudin sem. Nunc pellentesque, mauris mattis imperdiet tristique, arcu felis tempus nibh, vitae lobortis velit magna nec dui. Nullam porttitor ipsum eu semper scelerisque. Aliquam erat volutpat.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div style="padding-top:50px;">
        <img src="https://media.istockphoto.com/photos/refrigerator-repairing-picture-id1169128877?k=20&m=1169128877&s=612x612&w=0&h=CGIp31qdGhgDLnMFPjnPhlDZWsR6qnJ7Y6H_osMz1qk=" alt="Repairman" class="img-fluid rounded">
        </div>
        <div style="padding-top:50px ;">
        <img src="https://media.istockphoto.com/photos/refrigerator-repairing-picture-id1169128877?k=20&m=1169128877&s=612x612&w=0&h=CGIp31qdGhgDLnMFPjnPhlDZWsR6qnJ7Y6H_osMz1qk=" alt="Repairman" class="img-fluid rounded mx-5">
        </div>
        <div style="padding-top:50px ;">
        <img src="https://media.istockphoto.com/photos/refrigerator-repairing-picture-id1169128877?k=20&m=1169128877&s=612x612&w=0&h=CGIp31qdGhgDLnMFPjnPhlDZWsR6qnJ7Y6H_osMz1qk=" alt="Repairman" class="img-fluid rounded">
        </div>
    </div>
</div>
